<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XSceneryManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <XSceneryManager.Properties.Settings>
      <setting name="XPlaneFolder" serializeAs="String">
        <value>D:\X-Plane9</value>
      </setting>
      <setting name="DisabledSceneryFolder" serializeAs="String">
        <value>Custom Scenery (Disabled)</value>
      </setting>
      <setting name="GoogleMapLATLONG" serializeAs="String">
        <value>https://maps.google.com/maps/place?q={0},{1}</value>
      </setting>
      <setting name="BingMapLATLONG" serializeAs="String">
        <value>http://www.bing.com/maps/default.aspx?q={0},{1}</value>
      </setting>
      <setting name="Metar" serializeAs="String">
        <value>http://www.jetplan.com/jeppesen/jsp/weather/aocTextWeather.jsp?icao={0}&amp;rt=METAR</value>
      </setting>
      <setting name="FlightStats" serializeAs="String">
        <value>http://www.flightstats.com/go/Airport/airportDetails.do?airport={0}</value>
      </setting>
      <setting name="WorldAeroData" serializeAs="String">
        <value>http://www.worldaerodata.com/wad.cgi?airport={0}</value>
      </setting>
      <setting name="LastSceneryDownloadFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="RSS_1" serializeAs="String">
        <value>http://forums.x-plane.org/index.php?app=core&amp;module=global&amp;section=rss&amp;type=downloads</value>
      </setting>
      <setting name="AptMatchWords" serializeAs="String">
        <value>Muni,Municipal,Field,Airport,International,Intl,Heliport,sealane,base</value>
      </setting>
      <setting name="GoogleMapPLACE" serializeAs="String">
        <value>https://maps.google.com/maps?q={0} ({1})</value>
      </setting>
      <setting name="SkyVector" serializeAs="String">
        <value>http://skyvector.com/?ll={0},{1}&amp;zoom=4</value>
      </setting>
      <setting name="BingMapPLACE" serializeAs="String">
        <value>http://www.bing.com/maps/default.aspx?q={0} ({1})</value>
      </setting>
      <setting name="RSS_2" serializeAs="String">
        <value>http://forums.x-pilot.com/index.php/rss/downloads/</value>
      </setting>
      <setting name="OSMPLACE" serializeAs="String">
        <value> http://www.openstreetmap.org/search?query={0}</value>
      </setting>
      <setting name="OSMLATLONG" serializeAs="String">
        <value> http://www.openstreetmap.org/search?query={0},{1}</value>
      </setting>
    </XSceneryManager.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>